.App {
  max-width: 500px;
  margin: 100px auto 40px;
  padding: 2rem;
  background-color: #f4f9fd;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
  max-height: 1000px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0a0a0a;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input,
select,
button {
  padding: 0.75rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

input:focus,
select:focus {
  outline: none;
  border-color: #0a2a43;
}

button {
  background-color: #150bd2;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #06406a;
}

h3 {
  margin-top: 2rem;
  text-align: center;
  color: #0a2a43;
}

ul {
  margin-top: 1rem;
  padding-left: 1.2rem;
  color: #060606;
}

li {
  margin-bottom: 0.5rem;
}
.metrics-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.metrics-container ul {
  text-align: left;
  padding: 1rem 2rem;
  background-color: #e8f0fe;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}